<!--Bu sayfayi Loginde hicbirsey gozukmesin diye yaptik-->
@inherits LayoutComponentBase

 <div class="main">
        <article class="content px-4">
        @Body
        </article>
 </div>



@code {

}
